<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="../static/assets_profile/css/Data-Table.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Data-Table2.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Dynamic-Table.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Features-Clean.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Header-Blue.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Header-Dark.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Navigation-Clean.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Profile-Card.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Profile-Picture-With-Badge.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Profile-Picture-With-Badge1.css">
    <link rel="stylesheet" href="../static/assets_profile/css/style_chart.css">
    <link rel="stylesheet" href="../static/assets_profile/css/style_chat.css">
    <link rel="stylesheet" href="../static/assets_profile/css/styles.css">
    <link rel="stylesheet" href="../static/assets_profile/css/tutorials_out_template_languge.css">
    <link rel="stylesheet" href="../static/assets_profile/css/to-do-list.css">
    <link rel="stylesheet" href="../static/tutorials_chose/progra_widget1.css">
    <link rel="stylesheet" href="../static/tutorials_chose/progra_widget2.css">
  <!--  <link rel="stylesheet" href="../static/tutorials_chose/style_widget.css">-->

<style>
.ougc_annbars_red {
    display: none;
}
</style>

</head>
<body>
    {% include  "files_after_login/header_after_login.html" %}



    <div class="container">
	<div class="row" id="show_languages">
<!--

		<div class="col-lg-6">

			<div class="weather-card one">

          <img class="html5_back" src="../static/stuff_to_update/programming_languages_pic/html5.jpg"/>

				<div class="top">
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div><a href="http://localhost:5000/tutorials_to_see?id_page=1&id_articol=1">
						<h1 class="heading">HTML5</h1>
						<h3 class="location">Simple and easy to learn language that is the basic knoledge for a web developer.</h3>
              </a>
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper">
						<ul class="forecast">
							<a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
							<li class="active">
								<span class="date">Yesterday</span>
								<span class="lnr lnr-sun condition">
									<span class="temp">23<span class="deg">0</span><span class="temp-type">C</span></span>
								</span>
							</li>
							<li>
								<span class="date">Tomorrow</span>
								<span class="lnr lnr-cloud condition">
									<span class="temp">21<span class="deg">0</span><span class="temp-type">C</span></span>
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>


		</div>



		<div class="col-lg-6">
			<div class="weather-card rain">
          <img class="html5_back" src="../static/stuff_to_update/programming_languages_pic/python.jpg"/>
				<div class="top">
					<div class="wrapper">
						<div class="mynav">
							<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
							<a href="javascript:;"><span class="lnr lnr-cog"></span></a>
						</div>
						<h1 class="heading">Python</h1>
						<h3 class="location">Python is a great programming language for machine learning or web developing.</h3>
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper">
						<ul class="forecast">
							<a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
							<li class="active">
								<span class="date">Yesterday</span>
								<span class="lnr lnr-sun condition">
									<span class="temp">22<span class="deg">0</span><span class="temp-type">C</span></span>
								</span>
							</li>
							<li>
								<span class="date">Tomorrow</span>
								<span class="lnr lnr-cloud condition">
									<span class="temp">18<span class="deg">0</span><span class="temp-type">C</span></span>
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>


	</div>
-->


</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/javascript/main_script.js"></script>
<script>
load_programming_languages("#show_languages",1);
</script>
</body>
</html>
