<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  ></script>
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/3.3.7/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<script>

$(function () {
  $('.example-popover').popover({
    container: 'body'
  })
})
</script>
<style>
.popover__prime.example-popover{
position: absolute;
top:16px;


}
</style>

  <form class="form" action="##" method="post" id="registrationForm">
			<br/>
			<div class="col-xs-12">
			<h2>Masterpieces</h2><br/>
			
			</div>
			<div class="form-group">

                              <div class="col-xs-12">
                                 
                                  <input type="text" class="form-control" name="first_name" id="first_name" placeholder="search masterpieces" >
				<!-- arat jos lista optiuni-->
                              </div>
                          </div>

                          <div class="form-group">

                              <div class="col-xs-6">
                                  <label for="first_name"><h4>Add another masterpiece</h4></label>
					<div class="content">
						<div class="row">
							<div class="col-sm-9">
						          <input type="text" class="form-control" name="first_name" id="first_name" placeholder="add masterpiece" >
							   </div>
							<div class="col-sm-3">
								<button class="btn btn-primary ladda-button">Add</button>
							</div>
					       	</div>
					</div>
                              </div>
                          </div>
                          <div class="form-group">

                              <div class="col-xs-6">
                                <label for="last_name"><h4>Add another submenu</h4></label>
					<div class="content">
						<div class="row">
							<div class="col-sm-9">
						          <input type="text" class="form-control" name="last_name" id="last_name" placeholder="add submenu" >
							</div>
							<div class="col-sm-3">
								<button class="btn btn-primary ladda-button">  Add  </button>
							</div>
					       	</div>
					</div>
					
                              </div>
                          </div>
			
                        
			<br/>
			
                  	</form>
