<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="../static/assets_profile/css/Data-Table.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Data-Table2.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Dynamic-Table.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Features-Clean.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Header-Blue.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Header-Dark.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Navigation-Clean.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Profile-Card.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Profile-Picture-With-Badge.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Profile-Picture-With-Badge1.css">
    <link rel="stylesheet" href="../static/assets_profile/css/style_chart.css">
    <link rel="stylesheet" href="../static/assets_profile/css/style_chat.css">
    <link rel="stylesheet" href="../static/assets_profile/css/styles.css">
    <link rel="stylesheet" href="../static/assets_profile/css/tutorials_out_template_languge.css">
    <link rel="stylesheet" href="../static/assets_profile/css/to-do-list.css">
    <link rel="stylesheet" href="../static/tutorials_chose/progra_widget1.css">
    <link rel="stylesheet" href="../static/tutorials_chose/progra_widget2.css">
    <link rel="stylesheet" href="../static/assets/css/comunity.css">

  <!--   <link rel="stylesheet" href="../static/asssets/css/rating.css"> <link rel="stylesheet" href="../static/tutorials_chose/style_widget.css">-->



</head>
<body>
    {% include  "files_after_login/header_after_login.html" %}

<style>
.ougc_annbars_red {
    display: none;
}
nav.navbar.navbar-dark.navbar-expand-md.navigation-clean-search {
    /*margin-top: -20px !important*/;
}
</style>

    <div class="container">
      {%include "games/games_content.html"%}
      </div>
      </body>
      </html>
