<!DOCTYPE html>
<html>

<head>

    <title>test_1</title>
    {% include "all_files_b_login/up_links_external.html" %}

    <style>
    .between {
    margin-bottom: -100px;
}
iframe {
    border: 0px;
}
.show_down {
    display: none;
}
i#icon2 {
    position: relative;
    left: -1em;
}
.text_editor__ {
    background-color: white;
    margin-left: 115px;
    margin-right: 154px;
padding-bottom: 115px;
padding-top: 115px;
}
.code_interpreter{
background-color:white;
}
.backpic_last{
width:100%;
}
    </style>
</head>

<body>
{% block body %}
        <div class="header-blue" style="height:100%;">
          {% include  "all_files_b_login/header.html" %}


            <div class="container hero">
                <div class="row">
                    <div class="col">
                        <div id="text1" class="text_to_show" style="padding:10px;font-size:13px;">
                            <h1 style="font-size:87px;">Learn to code today</h1>
                            <p style="color:#ffffff;font-size:35px;width:100%;background-color:rgba(0,0,0,0.05);">From our platform you can learn how &nbsp;to code in all sorts of programming &nbsp;languages and in the right of your screen you can view &nbsp;your program result</p><button class="btn btn-light btn-lg action-button" type="button">Learn More</button></div>
                    </div>
                </div>
            </div>
  </div>

    <div></div>

    <div class="between">
      <iframe src="/show_opinion"   width="100%" height="2000px"></iframe>
    </div>

    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Chose your language</h2>
                <p class="text-center"></p>
            </div>
            <div class="row photos" style="margin-left:7em;">
                <div class="col-sm-6 col-md-4 col-lg-3 item" style="width:474px;">
                    <p style="font-size:27px;margin-left:-3px;width:406px;height:153px;color:rgb(0,0,0);font-family:'Source Sans Pro', sans-serif;margin-top:223px;">From the iphone you can chose your programming language that you want to learn and what kind of developer you want to be.</p>
                    <div>
                        <p style="font-size:27px;margin-left:-3px;width:406px;height:153px;color:rgb(0,0,0);font-family:'Source Sans Pro', sans-serif;">And also you can chose you level of knowledge .</p>
                    </div>
                </div>
                <div class="col" style="width:432px;margin:23px;margin-left:241px;">
                    <div class="iphone-mockup"><img src="../static/assets/img/iphone.svg" class="device">
                        <div class="screen" style="height:542px;">
                            <div class="screen2_second">
                                <ul class="list-group" id="show_here">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-bs-parallax-bg="true" style="height:798px;background-image:url(../static/assets/img/imagback.png);background-position:center;background-size:cover;background-attachment:fixed;"></div>
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2" style="margin-top:50px;margin-bottom:84px;width:873px;">
                    <div class="text">
                        <div id="left_side1"><i class="material-icons" id="icon1" style="width:25px;font-size:131px;margin-top:-0;margin-left:-0;margin-bottom:0;margin-right:0;">trending_up</i>
                            <div id="second_lect_class" style="margin-left:0;width:721px;">
                                <p style="background-color:#ffffff;color:rgb(0,0,0);font-size:38px;">Greate Comunity</p>
                                <p style="color:rgb(0,0,0);font-size:18px;">&nbsp;We want to create a community based on information.The information will be made by all the users ,we will try to get the best out of you.
                                    </p>
                            </div>
                        </div>
                        <div id="right_side1"><i class="material-icons align-items-center mr-auto" id="icon2" style="width:25px;font-size:131px;margin-top:-0;margin-left:17;margin-bottom:0;margin-right:0;">trending_up</i>
                            <div>
                                <p class="text-right" style="font-size:38px;color:rgb(0,0,0);">Create a masterpiece</p>
                                <p id="right_rewer" style="color:rgb(0,0,0);text-align:left;">The masterpieces are more than a simple tutorial.They are the perfect tutorials.They are translated in all language from english ,so they are the same.</p>
                            </div>
                        </div>
                        <div id="left_side_2"><i class="material-icons" id="icon1" style="width:25px;font-size:131px;margin-top:-0;margin-left:-0;margin-bottom:0;margin-right:0;">trending_up</i>
                            <div>
                                <p style="font-size:38px;color:rgb(0,0,0);">Be an author</p>
                                <p style="color:rgb(0,0,0);">Your name will be shown next to your contribution so you win fame on the platform.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="image_between"><img class="backpic_last" src="../static/assets/img/pic2.jpeg"/></div>

<div class="code_interpreter"><div class="text_editor__"> <p style="background-color:#ffffff;color:rgb(0,0,0);font-size:38px;">Dcode</p>The platform has a great code interpreter that can be embeded very easy on any platform.We called the interpreter Dcode.</br>Click on the button and take a taste of it.<br/><iframe width="100%" height="300px" src="http://localhost:5000/compile_python?default=0&id_problem=0"></iframe><br/><a href="http://localhost:5000/compile_python?default=0&id_problem=0" class="btn btn-primary">Dcode</a></div></div>
    <div class="team-boxed"></div>
    <div class="features-blue">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Features</h2>
                <p class="text-center">All for our great users </p>
            </div>
            <div class="row features">
              
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Always available</h3>
                    <p class="description"></p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Customizable</h3>
                    <p class="description">The Masterpieces are customizable for every user independetly.</p>
                </div>

                <div class="col-sm-6 col-md-4 item"><i class="fa fa-plane icon"></i>
                    <h3 class="name">Fast</h3>
                    <p class="description">The information can be read in a very fast way because you can use a resumat</p>
                </div>

            </div>
        </div>
    </div>
    <div class="social-icons"><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-youtube"></i></a></div>
    <div></div>
    <div class="modal fade" role="dialog" tabindex="-1" id="mymodal_lang">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Title</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <p>The content of your modal.</p>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
            </div>
        </div>
    </div>
    {%endblock%}

    {% include "all_files_b_login/down_links_external.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/javascript/main_script.js"></script>
    <script>
    load_programming_languages("#show_here",2);
    </script>
</body>

</html>
