<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>account</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
<link rel="stylesheet" href="../static/assets_profile/css/Data-Table.css">
<link rel="stylesheet" href="../static/assets_profile/css/Data-Table2.css">
<link rel="stylesheet" href="../static/assets_profile/css/Dynamic-Table.css">
<link rel="stylesheet" href="../static/assets_profile/css/Features-Clean.css">
<link rel="stylesheet" href="../static/assets_profile/css/Header-Blue.css">
<link rel="stylesheet" href="../static/assets_profile/css/Header-Dark.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="../static/assets_profile/css/Navigation-Clean.css">
<link rel="stylesheet" href="../static/assets_profile/css/Profile-Card.css">
<link rel="stylesheet" href="../static/assets_profile/css/Profile-Picture-With-Badge.css">
<link rel="stylesheet" href="../static/assets_profile/css/Profile-Picture-With-Badge1.css">
<link rel="stylesheet" href="../static/assets_profile/css/style_chart.css">
<link rel="stylesheet" href="../static/assets_profile/css/style_chat.css">
<link rel="stylesheet" href="../static/assets_profile/css/styles.css">
<link rel="stylesheet" href="../static/assets_profile/css/to-do-list.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<head>
    <title>test_1</title>
<link href="https://unpkg.com/primer/build/build.css" rel="stylesheet">
<style>
.login-dark {
    padding: 23px;
        background-color: white;
}
.d-table-cell {
    position: relative;
    top: 16ex;
  }
  .left_float {
    float: left !important;
}
body{
      background-color: #f9f9f9;
}
.d-table-cell.col-5.border {
    background-color: white;
}
.ougc_annbars_red,#logout {
    display: none;
}

</style>
</head>
<!--#553bff-->
<body>
{% include  "files_after_login/header_after_login.html" %}
<center>
  <div class="d-table-cell col-4 ">

  </div>
  <div class="d-table-cell col-5 border">
    <div class="login-dark" style="/*background-size:auto;*//*background-repeat:no-repeat;*/">
      <h1><center>Sign in</center> </h1>
        <form method="post">

            <div class="form-group"><label class="left_float" for="name">Username</label><br/><input class="form-control" type="text" name="uname" placeholder="Email"></div>
            <div class="form-group"><label class="left_float" for="name">Password</label><br/><input class="form-control" type="password" name="pass" placeholder="Password"></div>
		{%if error != 'None'%}
			<br/>{{error}}
		{%endif%}
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a href="/register" class="forgot">Please register?</a></form>
    </div>
  </div>
  <div class="d-table-cell col-5 ">

  </div>
</center>


  {% include "all_files_b_login/down_links_external.html" %}
</body>

</html>
