<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="../static/assets_profile/css/Data-Table.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Data-Table2.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Dynamic-Table.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Features-Clean.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Header-Blue.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Header-Dark.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Navigation-Clean.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Profile-Card.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Profile-Picture-With-Badge.css">
    <link rel="stylesheet" href="../static/assets_profile/css/Profile-Picture-With-Badge1.css">
    <link rel="stylesheet" href="../static/assets_profile/css/style_chart.css">
    <link rel="stylesheet" href="../static/assets_profile/css/style_chat.css">
    <link rel="stylesheet" href="../static/assets_profile/css/styles.css">
    <link rel="stylesheet" href="../static/assets_profile/css/to-do-list.css">

</head>

<body>
    {% include  "files_after_login/header_after_login.html" %}
    <div class="container">
        <div class="row" id="to_SeE_dOWn" style="height:45px;"></div>
        <div class="row">
            <div class="col" id="chose_to_display"><div><div class="panel panel-primary">
                <div class="panel-heading">
                    <!--<h3 class="panel-title">
                        Panel Primary</h3>-->
                </div>
                <ul class="list-group">
                    <a href="#" class="list-group-item">Cras justo odio</a>
                    <a href="http://www.jquery2dotnet.com/2014/01/jquery-export-table-data-into-ms-excel.html" class="list-group-item active">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                      <a href="http://www.jquery2dotnet.com/2014/01/jquery-export-table-data-into-ms-excel.html" class="list-group-item active">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a><a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                      <a href="http://www.jquery2dotnet.com/2014/01/jquery-export-table-data-into-ms-excel.html" class="list-group-item active">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </ul>
            </div></div></div>
            <div class="col col-lg-9"><div>
<div class="panel panel-primary">
                <div class="panel-heading">
                    <!--<h3 class="panel-title">
                        Panel Primary</h3>-->
                </div>
                <div class="the_conent_text">
                    <p>The HTML lang attribute can be used to declare the language of a Web page or a portion of a Web page. This is meant to assist search engines and browsers.

According to the W3C recommendation you should declare the primary language for each Web page with the lang attribute inside the <html> tag, like this:</p>
                    <div class="show_the_code_view">
                    <script src="https://gist.github.com/shoujo/9493ceb776479dac85e525fc51fdc600.js"></script>
                    <button class="btn">Run</button>
                    </div>
                    <p>The HTML lang attribute can be used to declare the language of a Web page or a portion of a Web page. This is meant to assist search engines and browsers.

According to the W3C recommendation you should declare the primary language for each Web page with the lang attribute inside the <html> tag, like this:
The HTML lang attribute can be used to declare the language of a Web page or a portion of a Web page. This is meant to assist search engines and browsers.

According to the W3C recommendation you should declare the primary language for each Web page with the lang attribute inside the <html> tag, like this:</p>
                      <script src="https://gist.github.com/shoujo/9493ceb776479dac85e525fc51fdc600.js"></script>
                    <p>sadf</p>
                   <p> sad</p>
                    <p>f</p>
                   <p> sda</p>
                   <p> f</p> <p>f</p>
                   <p> asdf</p>
                    <p>sadf</p>
                   <p> sad</p>
                    <p>f</p>
                   <p> sda</p>
                   <p> f</p>

                </div>
            </div>

</div></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="../static/assets/js/Dynamic-Table.js"></script>
    <script src="../static/assets/js/script_chart.js"></script>
</body>

</html>
